<div class="footer" style="margin-top: 20px;">
    <footer class="text-center text-lg-start bg-green" style="background-color: rgb(133, 207, 133)">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div>
          <a href="" class="me-4 link-secondary">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="bi bi-google"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class=" bi bi-instagram"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="bi bi-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
    
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3 text-secondary"></i>BasketBliss
              </h6>
              <p style="font-size: x-small;">
                Basket Bliss is a cutting-edge grocery app that has revolutionized the way people shop for their everyday essentials. With its user-friendly interface and extensive range of products, Basket Bliss provides a seamless and convenient shopping experience right at your fingertips. Whether you're looking for fresh produce, pantry staples,
                
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Products
              </h6>
              <p>
                <a href="#!" class="text-reset">Grocery</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Food</a>
              </p>
              <p>
                <a href="#!" class="text-reset">veg</a>
              </p>
              <p>
                <a href="#!" class="text-reset">non veg</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Useful links
              </h6>
              <p>
                <a href="#!" class="text-reset">Pricing</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Settings</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Orders</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Help</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4"><i class="bi bi-telephone-fill"></i>Contact</h6>
              <p> <i class="bi-geo-alt"></i> Bengaluru, Karnataka, India</p>
              <p>
                <i class="bi bi-google"></i>
                basketbliss@gmail.com
              </p>
              <p><i class="bi bi-telephone-fill"></i> +91 9620064036</p>
              <p><i class="bi bi-telephone-fill"></i> +91 8247970280</p>
            </div>
            <!-- Grid column -->
            <!-- <marquee><h1 style="color: yellow;">Sponsror Chethana S Devadiga, Dhrithi V gulannavar, Lakshmi A M these people are 3 parts of 
              kohinoor Diamond Ayush is Prince of Persia Chethana Snake suresh leader of Jabari Clan (Yibombwe), Dhriti is Leader Of Xhasa Clan and Lakshmi is Of Leader Kalakeya Clan hank you<img class="imagess" src="https://tse3.mm.bing.net/th/id/OIP.pkm03P0Wz9ptISknJxu2qAHaHa?pid=ImgDet&rs=1"></h1> 
            </marquee> -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://ust.com/">ust.com</a> 
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    </div>