.hover-effect:hover {
    background-color: #ffc107;
  }
  .custom-select {
    appearance: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #fff;
   
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    cursor: pointer;
  }
  
  .custom-select:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  