.card {
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 330px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
}

.progress {
  height: 25px;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #007bff;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.status-time {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.status {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

.time {
  font-size: 14px;
  color: #666666;
}
.btn{
  background-color: #ffea00;
  color: black;
}